<head>
  
</head>

<body>
   

  <div>
    <h1>Rails Weather</h1>
  <div>
  
  <div>
    <form class="fetchWeather">
      <input type="text" placeholder="Search by city" name="search">
      <link id="submit "><input type="submit" value="Submit"></link>
    </form>
  </div>
  
  <div class="response">
  </div> 
  <%= javascript_include_tag "application" %>
</body>


